{
  "openapi": "3.1.0",
  "info": {
    "title": "TalentMesh API",
    "version": "0.1.0",
    "description": "Generated from app/api/ by scripts/generate-openapi.ts — do not edit by hand, run `npm run docs:openapi`.\n\nAuth is a session cookie (`tm_access_token`), not a bearer header. Roles and permissions shown as `x-allowed-roles` / `x-required-permission` are read from the withApi() options that actually enforce them.\n\nOperations flagged `x-undocumented-body` do not use withApi(), so their request shape is not declared anywhere machine-readable and has been left blank rather than guessed."
  },
  "servers": [
    {
      "url": "https://talentmeshsolutions.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local"
    }
  ],
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "tm_access_token"
      }
    }
  },
  "security": [
    {
      "sessionCookie": []
    }
  ],
  "paths": {
    "/api/admin/dpdp/decide": {
      "post": {
        "operationId": "post_api_admin_dpdp_decide",
        "tags": [
          "admin"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "admin",
          "super_admin"
        ],
        "x-required-permission": {
          "resource": "dpdp",
          "action": "approve"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "decision": {
                    "type": "string",
                    "enum": [
                      "in_progress",
                      "completed",
                      "rejected"
                    ]
                  },
                  "notes": {
                    "type": "string",
                    "maxLength": 2000
                  }
                },
                "required": [
                  "request_id",
                  "decision"
                ]
              }
            }
          }
        },
        "x-body-schema": "dpdpDecisionSchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/dpdp/queue": {
      "get": {
        "operationId": "get_api_admin_dpdp_queue",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "in_progress",
                "completed",
                "rejected"
              ]
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "access",
                "correction",
                "erasure",
                "grievance"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "admin",
          "super_admin"
        ],
        "x-required-permission": {
          "resource": "dpdp",
          "action": "view"
        },
        "x-query-schema": "dpdpQueueQuerySchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/forgot-password": {
      "post": {
        "operationId": "post_api_admin_forgot-password",
        "tags": [
          "admin"
        ],
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/send-proposal": {
      "post": {
        "operationId": "post_api_admin_send-proposal",
        "tags": [
          "admin"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "admin",
          "super_admin"
        ],
        "x-required-permission": {
          "resource": "billing",
          "action": "edit"
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/verification/decide": {
      "post": {
        "operationId": "post_api_admin_verification_decide",
        "tags": [
          "admin"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "admin",
          "super_admin"
        ],
        "x-required-permission": {
          "resource": "verification",
          "action": "approve"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "rejected",
                      "needs_more_info"
                    ]
                  },
                  "notes": {
                    "type": "string",
                    "maxLength": 2000
                  }
                },
                "required": [
                  "request_id",
                  "decision"
                ]
              }
            }
          }
        },
        "x-body-schema": "verificationDecisionSchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/verification/queue": {
      "get": {
        "operationId": "get_api_admin_verification_queue",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "submitted",
                "under_review",
                "approved",
                "rejected",
                "needs_more_info"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "admin",
          "super_admin"
        ],
        "x-required-permission": {
          "resource": "verification",
          "action": "view"
        },
        "x-query-schema": "verificationQueueQuerySchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/applications/{id}/status": {
      "patch": {
        "operationId": "patch_api_applications_id_status",
        "tags": [
          "applications"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "applied",
                      "reviewing",
                      "shortlisted",
                      "interviewing",
                      "offered",
                      "hired",
                      "rejected",
                      "withdrawn"
                    ]
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "x-body-schema": "companyApplicationStatusSchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/applications": {
      "get": {
        "operationId": "get_api_applications",
        "tags": [
          "applications"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter"
        ],
        "x-query-schema": "companyApplicationsQuerySchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/auth/email/{slug}": {
      "post": {
        "operationId": "post_api_auth_email_slug",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "operationId": "post_api_auth_logout",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/auth/mfa-complete": {
      "get": {
        "operationId": "get_api_auth_mfa-complete",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "operationId": "post_api_auth_mfa-complete",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/auth/oauth/exchange": {
      "post": {
        "operationId": "post_api_auth_oauth_exchange",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "operationId": "post_api_auth_refresh",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/auth/session": {
      "post": {
        "operationId": "post_api_auth_session",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "delete": {
        "operationId": "delete_api_auth_session",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/auth/sessions/current": {
      "get": {
        "operationId": "get_api_auth_sessions_current",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "operationId": "post_api_auth_sessions_current",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/auth/sessions": {
      "get": {
        "operationId": "get_api_auth_sessions",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "operationId": "post_api_auth_sessions",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/auth/signup": {
      "post": {
        "operationId": "post_api_auth_signup",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/auth/verify": {
      "post": {
        "operationId": "post_api_auth_verify",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/company/{companyId}/members/{userId}": {
      "patch": {
        "operationId": "patch_api_company_companyId_members_userId",
        "tags": [
          "company"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "member_role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "recruiter",
                      "coordinator"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "suspended",
                      "removed"
                    ]
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 500
                  }
                }
              }
            }
          }
        },
        "x-body-schema": "updateMemberSchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/company/{companyId}/members/accept": {
      "post": {
        "operationId": "post_api_company_companyId_members_accept",
        "tags": [
          "company"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter",
          "candidate"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/company/{companyId}/members/invite": {
      "post": {
        "operationId": "post_api_company_companyId_members_invite",
        "tags": [
          "company"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  },
                  "member_role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "recruiter",
                      "coordinator"
                    ]
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 500
                  }
                },
                "required": [
                  "email",
                  "member_role"
                ]
              }
            }
          }
        },
        "x-body-schema": "inviteMemberSchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/company/{companyId}/members": {
      "get": {
        "operationId": "get_api_company_companyId_members",
        "tags": [
          "company"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/company/{companyId}": {
      "get": {
        "operationId": "get_api_company_companyId",
        "tags": [
          "company"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter",
          "admin",
          "super_admin"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "patch": {
        "operationId": "patch_api_company_companyId",
        "tags": [
          "company"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "industry": {
                    "type": "string",
                    "minLength": 1
                  },
                  "website": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "const": ""
                      }
                    ]
                  },
                  "gstin": {
                    "type": "string",
                    "pattern": "^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$"
                  },
                  "cin": {
                    "type": "string",
                    "pattern": "^[LUu][0-9]{5}[A-Za-z]{2}[0-9]{4}[A-Za-z]{3}[0-9]{6}$"
                  },
                  "country_code": {
                    "default": "IN",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 2000
                  }
                }
              }
            }
          }
        },
        "x-body-schema": "updateCompanySchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/company/verification/submit": {
      "post": {
        "operationId": "post_api_company_verification_submit",
        "tags": [
          "company"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "kyc_documents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "ref": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "label",
                        "ref"
                      ]
                    }
                  },
                  "channel": {
                    "default": "gmail_kyc",
                    "type": "string",
                    "enum": [
                      "gmail_kyc"
                    ]
                  }
                },
                "required": [
                  "company_id"
                ]
              }
            }
          }
        },
        "x-body-schema": "verificationSubmitSchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/consent": {
      "get": {
        "operationId": "get_api_consent",
        "tags": [
          "consent"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/consent/withdraw": {
      "post": {
        "operationId": "post_api_consent_withdraw",
        "tags": [
          "consent"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/dpdp/export": {
      "get": {
        "operationId": "get_api_dpdp_export",
        "tags": [
          "dpdp"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "candidate",
          "recruiter"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/dpdp/requests": {
      "get": {
        "operationId": "get_api_dpdp_requests",
        "tags": [
          "dpdp"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "operationId": "post_api_dpdp_requests",
        "tags": [
          "dpdp"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "access",
                      "correction",
                      "erasure"
                    ]
                  },
                  "details": {
                    "type": "string",
                    "maxLength": 2000
                  }
                },
                "required": [
                  "kind"
                ]
              }
            }
          }
        },
        "x-body-schema": "raiseDpdpRequestSchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/email/send": {
      "post": {
        "operationId": "post_api_email_send",
        "tags": [
          "email"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/interview/room": {
      "post": {
        "operationId": "post_api_interview_room",
        "tags": [
          "interview"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/jobs/{jobId}/close": {
      "post": {
        "operationId": "post_api_jobs_jobId_close",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/jobs/{jobId}/publish": {
      "post": {
        "operationId": "post_api_jobs_jobId_publish",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/jobs/{jobId}": {
      "patch": {
        "operationId": "patch_api_jobs_jobId",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 120
                  },
                  "description": {
                    "type": "string",
                    "minLength": 50,
                    "maxLength": 12000
                  },
                  "requirements": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "skills_required": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "full-time",
                      "part-time",
                      "contract",
                      "freelance",
                      "internship",
                      "remote",
                      "hybrid"
                    ]
                  },
                  "location": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "salary_min": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "salary_max": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "INR",
                      "USD"
                    ]
                  },
                  "experience_min": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 30
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "experience_max": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 30
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "department": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 80
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "x-body-schema": "jobUpdateSchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/jobs": {
      "get": {
        "operationId": "get_api_jobs",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "const": "company"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "draft",
                "active",
                "paused",
                "closed",
                "deleted"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter"
        ],
        "x-query-schema": "jobsCompanyQuerySchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "operationId": "post_api_jobs",
        "tags": [
          "jobs"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 120
                  },
                  "description": {
                    "type": "string",
                    "minLength": 50,
                    "maxLength": 12000
                  },
                  "requirements": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "skills_required": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "full-time",
                      "part-time",
                      "contract",
                      "freelance",
                      "internship",
                      "remote",
                      "hybrid"
                    ]
                  },
                  "location": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "salary_min": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "salary_max": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "INR",
                      "USD"
                    ]
                  },
                  "experience_min": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 30
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "experience_max": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 30
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "department": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 80
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "active",
                      "paused",
                      "closed",
                      "deleted"
                    ]
                  }
                },
                "required": [
                  "title",
                  "description",
                  "location"
                ]
              }
            }
          }
        },
        "x-body-schema": "jobCreateSchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/newsletter/confirm": {
      "get": {
        "operationId": "get_api_newsletter_confirm",
        "tags": [
          "newsletter"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/newsletter/resend-confirmation": {
      "post": {
        "operationId": "post_api_newsletter_resend-confirmation",
        "tags": [
          "newsletter"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/newsletter/subscribe": {
      "post": {
        "operationId": "post_api_newsletter_subscribe",
        "tags": [
          "newsletter"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/newsletter/unsubscribe": {
      "get": {
        "operationId": "get_api_newsletter_unsubscribe",
        "tags": [
          "newsletter"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/recruiter/request-access": {
      "post": {
        "operationId": "post_api_recruiter_request-access",
        "tags": [
          "recruiter"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "candidate",
          "recruiter"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "industry": {
                    "type": "string",
                    "minLength": 1
                  },
                  "website": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "const": ""
                      }
                    ]
                  },
                  "gstin": {
                    "type": "string",
                    "pattern": "^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$"
                  },
                  "cin": {
                    "type": "string",
                    "pattern": "^[LUu][0-9]{5}[A-Za-z]{2}[0-9]{4}[A-Za-z]{3}[0-9]{6}$"
                  },
                  "country_code": {
                    "default": "IN",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 2000
                  },
                  "attach_company_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "phone": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "name",
                  "industry",
                  "phone"
                ]
              }
            }
          }
        },
        "x-body-schema": "requestAccessSchema",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/recruiter/status": {
      "get": {
        "operationId": "get_api_recruiter_status",
        "tags": [
          "recruiter"
        ],
        "parameters": [],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-allowed-roles": [
          "recruiter",
          "candidate"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "403": {
            "description": "Forbidden — role or permission check failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/storage/{path}": {
      "get": {
        "operationId": "get_api_storage_path",
        "tags": [
          "storage"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "operationId": "post_api_storage_path",
        "tags": [
          "storage"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "put": {
        "operationId": "put_api_storage_path",
        "tags": [
          "storage"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "patch": {
        "operationId": "patch_api_storage_path",
        "tags": [
          "storage"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "delete": {
        "operationId": "delete_api_storage_path",
        "tags": [
          "storage"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/v1/remote/{path}": {
      "get": {
        "operationId": "get_api_v1_remote_path",
        "tags": [
          "v1"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "operationId": "post_api_v1_remote_path",
        "tags": [
          "v1"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "put": {
        "operationId": "put_api_v1_remote_path",
        "tags": [
          "v1"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "patch": {
        "operationId": "patch_api_v1_remote_path",
        "tags": [
          "v1"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "delete": {
        "operationId": "delete_api_v1_remote_path",
        "tags": [
          "v1"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "x-undocumented-body": "Route does not use withApi(); request shape is not declared in a Zod schema and was not inferred.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized — no valid session cookie"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  }
}
